In [15]:
import numpy as np
import pandas as pd
#import matplotlib.pyplot as plt
from sklearn.linear_model import LinearRegression
from sklearn.metrics import r2_score
import statsmodels.api as sm

In [16]:
a=pd.read_csv('advertising.csv')
a.head()

   Unnamed: 0     TV  radio  newspaper  sales
0           1  230.1   37.8       69.2   22.1
1           2   44.5   39.3       45.1   10.4
2           3   17.2   45.9       69.3    9.3
3           4  151.5   41.3       58.5   18.5
4           5  180.8   10.8       58.4   12.9

In [17]:
a.tail()

     Unnamed: 0     TV  radio  newspaper  sales
195         196   38.2    3.7       13.8    7.6
196         197   94.2    4.9        8.1    9.7
197         198  177.0    9.3        6.4   12.8
198         199  283.6   42.0       66.2   25.5
199         200  232.1    8.6        8.7   13.4

In [18]:
a.describe()

       Unnamed: 0          TV       radio   newspaper       sales
count  200.000000  200.000000  200.000000  200.000000  200.000000
mean   100.500000  147.042500   23.264000   30.554000   14.022500
std     57.879185   85.854236   14.846809   21.778621    5.217457
min      1.000000    0.700000    0.000000    0.300000    1.600000
25%     50.750000   74.375000    9.975000   12.750000   10.375000
50%    100.500000  149.750000   22.900000   25.750000   12.900000
75%    150.250000  218.825000   36.525000   45.100000   17.400000
max    200.000000  296.400000   49.600000  114.000000   27.000000

In [19]:
a.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 200 entries, 0 to 199
Data columns (total 5 columns):
Unnamed: 0    200 non-null int64
TV            200 non-null float64
radio         200 non-null float64
newspaper     200 non-null float64
sales         200 non-null float64
dtypes: float64(4), int64(1)
memory usage: 7.9 KB

In [20]:
a.columns

Index(['Unnamed: 0', 'TV', 'radio', 'newspaper', 'sales'], dtype='object')

In [21]:
a.drop(['Unnamed: 0'],axis=1)

        TV  radio  newspaper  sales
0    230.1   37.8       69.2   22.1
1     44.5   39.3       45.1   10.4
2     17.2   45.9       69.3    9.3
3    151.5   41.3       58.5   18.5
4    180.8   10.8       58.4   12.9
5      8.7   48.9       75.0    7.2
6     57.5   32.8       23.5   11.8
7    120.2   19.6       11.6   13.2
8      8.6    2.1        1.0    4.8
9    199.8    2.6       21.2   10.6
10    66.1    5.8       24.2    8.6
11   214.7   24.0        4.0   17.4
12    23.8   35.1       65.9    9.2
13    97.5    7.6        7.2    9.7
14   204.1   32.9       46.0   19.0
15   195.4   47.7       52.9   22.4
16    67.8   36.6      114.0   12.5
17   281.4   39.6       55.8   24.4
18    69.2   20.5       18.3   11.3
19   147.3   23.9       19.1   14.6
20   218.4   27.7       53.4   18.0
21   237.4    5.1       23.5   12.5
22    13.2   15.9       49.6    5.6
23   228.3   16.9       26.2   15.5
24    62.3   12.6       18.3    9.7
25   262.9    3.5       19.5   12.0
26   142.9   29.3       12.6   15.0
27   240.1   16.7       22.9   15.9
28   248.8   27.1       22.9   18.9
29    70.6   16.0       40.8   10.5
..     ...    ...        ...    ...
170   50.0   11.6       18.4    8.4
171  164.5   20.9       47.4   14.5
172   19.6   20.1       17.0    7.6
173  168.4    7.1       12.8   11.7
174  222.4    3.4       13.1   11.5
175  276.9   48.9       41.8   27.0
176  248.4   30.2       20.3   20.2
177  170.2    7.8       35.2   11.7
178  276.7    2.3       23.7   11.8
179  165.6   10.0       17.6   12.6
180  156.6    2.6        8.3   10.5
181  218.5    5.4       27.4   12.2
182   56.2    5.7       29.7    8.7
183  287.6   43.0       71.8   26.2
184  253.8   21.3       30.0   17.6
185  205.0   45.1       19.6   22.6
186  139.5    2.1       26.6   10.3
187  191.1   28.7       18.2   17.3
188  286.0   13.9        3.7   15.9
189   18.7   12.1       23.4    6.7
190   39.5   41.1        5.8   10.8
191   75.5   10.8        6.0    9.9
192   17.2    4.1       31.6    5.9
193  166.8   42.0        3.6   19.6
194  149.7   35.6        6.0   17.3
195   38.2    3.7       13.8    7.6
196   94.2    4.9        8.1    9.7
197  177.0    9.3        6.4   12.8
198  283.6   42.0       66.2   25.5
199  232.1    8.6        8.7   13.4

[200 rows x 4 columns]

# Simple Linear regression

In [22]:
'''plt.figure(figsize=(16,8))
plt.scatter(data['TV'],data['sales'],c='blue')
plt.xlabel("money spent on TV ads($)")
plt.ylabel("sales($)")
plt.title("TV Vs Sales")
plt.show()'''

'plt.figure(figsize=(16,8))\nplt.scatter(data[\'TV\'],data[\'sales\'],c=\'blue\')\nplt.xlabel("money spent on TV ads($)")\nplt.ylabel("sales($)")\nplt.title("TV Vs Sales")\nplt.show()'

In [23]:
X=a['TV'].values.reshape(-1,1)
Y=a['sales'].values.reshape(-1,1)

reg=LinearRegression()

reg.fit(X,Y)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [24]:
print(reg.coef_[0][0])
print(reg.intercept_[0])
print("The linear model is Y={:.5}+{:.5}X".format(reg.intercept_[0],reg.coef_[0][0]))

0.04753664043301975
7.032593549127695
The linear model is Y=7.0326+0.047537X

In [25]:
reg.score(X,Y)

0.611875050850071

In [26]:
predictions=reg.predict(X)
#plt.figure(figsize=(16,8))
#plt.scatter(a['TV'],a['sales'],c='black')
#plt.plot(a['TV'],predictions,c='blue',linewidth=2)
#plt.xlabel("MOney spent on Tv ads ($)")
#plt.ylabel("sales ($)")
#plt.show()
print(predictions)

[[17.97077451]
 [ 9.14797405]
 [ 7.85022376]
 [14.23439457]
 [15.62721814]
 [ 7.44616232]
 [ 9.76595037]
 [12.74649773]
 [ 7.44140866]
 [16.53041431]
 [10.17476548]
 [17.23871025]
 [ 8.16396559]
 [11.66741599]
 [16.73482186]
 [16.32125309]
 [10.25557777]
 [20.40940417]
 [10.32212907]
 [14.03474068]
 [17.41459582]
 [18.31779199]
 [ 7.6600772 ]
 [17.88520856]
 [ 9.99412625]
 [19.52997632]
 [13.82557947]
 [18.44614092]
 [18.85970969]
 [10.38868036]
 [20.95607553]
 [12.39948025]
 [11.653155  ]
 [19.65832525]
 [11.58185004]
 [20.85149492]
 [19.72012288]
 [10.58358059]
 [ 9.08142275]
 [17.87094757]
 [16.65876324]
 [15.44657891]
 [20.98935118]
 [16.86792445]
 [ 8.22576322]
 [15.35625929]
 [11.2966302 ]
 [18.43663359]
 [17.83291826]
 [10.21279479]
 [16.53041431]
 [11.80527225]
 [17.31952254]
 [15.71278409]
 [19.52046899]
 [16.48763133]
 [ 7.37961102]
 [13.50708398]
 [17.05331735]
 [17.04856369]
 [ 9.57580381]
 [19.45391769]
 [18.4081116 ]
 [11.91460652]
 [13.26464711]
 [10.31262174]
 [ 8.52999772]
 [13.65444756]
 [18.31779199]
 [17.3385372 ]
 [16.49713866]
 [12.25211667]
 [ 8.30657551]
 [13.18383482]
 [17.17691262]
 [ 7.83596277]
 [ 8.33985116]
 [12.76075872]
 [ 7.28929141]
 [12.54684384]
 [10.66439288]
 [18.43187992]
 [10.61210257]
 [10.28409975]
 [17.18166628]
 [16.21667248]
 [10.65963921]
 [12.29489965]
 [11.2300789 ]
 [12.25211667]
 [13.41676436]
 [ 8.39214147]
 [17.38132017]
 [18.95953663]
 [12.13802873]
 [14.79532693]
 [16.4258337 ]
 [15.82211837]
 [20.80395828]
 [13.45954734]
 [17.60474238]
 [21.12245377]
 [20.3523602 ]
 [15.96472829]
 [18.3558213 ]
 [13.58789626]
 [ 8.22100956]
 [11.32990584]
 [ 7.65532354]
 [19.17345152]
 [17.76636696]
 [18.52219954]
 [15.38478127]
 [16.99627338]
 [10.74995883]
 [10.60259525]
 [13.6496939 ]
 [10.66439288]
 [13.00794925]
 [ 7.95480437]
 [13.74952084]
 [ 7.92628239]
 [17.68080101]
 [12.88435399]
 [17.94225253]
 [11.17778859]
 [ 7.40337934]
 [10.84503211]
 [17.50491544]
 [ 9.86577732]
 [ 7.0658692 ]
 [19.63931059]
 [ 7.43190133]
 [17.48114712]
 [ 8.78669558]
 [ 9.32861328]
 [ 8.24953154]
 [20.04337204]
 [ 9.07666909]
 [15.82211837]
 [10.52178296]
 [16.2404408 ]
 [17.51442276]
 [12.00492614]
 [11.60561836]
 [13.7019842 ]
 [18.44614092]
 [18.5935045 ]
 [ 8.83898589]
 [ 9.15748138]
 [20.37612852]
 [12.78452704]
 [16.4258337 ]
 [15.17562006]
 [15.95997462]
 [ 7.22749377]
 [11.49628409]
 [14.15358229]
 [ 7.58877224]
 [13.29316909]
 [15.23266402]
 [11.10648363]
 [15.98849661]
 [14.80483426]
 [12.60388781]
 [18.17993573]
 [ 7.88349941]
 [16.86317079]
 [17.2719859 ]
 [20.54726042]
 [ 9.40942557]
 [14.8523709 ]
 [ 7.9643117 ]
 [15.0377638 ]
 [17.60474238]
 [20.19548929]
 [18.84069503]
 [15.12332975]
 [20.18598196]
 [14.9046612 ]
 [14.47683144]
 [17.41934948]
 [ 9.70415274]
 [20.70413134]
 [19.09739289]
 [16.77760484]
 [13.66395489]
 [16.11684554]
 [20.62807271]
 [ 7.92152873]
 [ 8.91029085]
 [10.6216099 ]
 [ 7.85022376]
 [14.96170517]
 [14.14882862]
 [ 8.84849321]
 [11.51054508]
 [15.44657891]
 [20.51398478]
 [18.06584779]]

# OLS -Ordinary Least square regression

In [27]:
x=np.column_stack((a['TV'],a['radio'],a['newspaper']))
y=a['sales']
X2= sm.add_constant(X)
est=sm.OLS(y,X2)
est2=est.fit()
print(est2.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:                  sales   R-squared:                       0.612
Model:                            OLS   Adj. R-squared:                  0.610
Method:                 Least Squares   F-statistic:                     312.1
Date:                Wed, 03 Jul 2019   Prob (F-statistic):           1.47e-42
Time:                        17:24:48   Log-Likelihood:                -519.05
No. Observations:                 200   AIC:                             1042.
Df Residuals:                     198   BIC:                             1049.
Df Model:                           1
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
const          7.0326      0.458     15.360      0.000       6.130       7.935
x1             0.0475      0.003     17.668      0.000       0.042       0.053
==============================================================================
Omnibus:                        0.531   Durbin-Watson:                   1.935
Prob(Omnibus):                  0.767   Jarque-Bera (JB):                0.669
Skew:                          -0.089   Prob(JB):                        0.716
Kurtosis:                       2.779   Cond. No.                         338.
==============================================================================

Warnings:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.